@model IEnumerable<JockWebApp.Models.Jock>

@{
    ViewData["Title"] = "Index";
}

<h1>Jokes Index</h1>

<form asp-controller="Jocks" asp-action="Index" method="get">
    <p>
        Find by question or answer: <input type="text" name="searchString" value="@ViewData["CurrentFilter"]" class="form-control" />
        <input type="submit" value="Search" class="btn btn-primary mt-2" />
    </p>
</form>

<p>
    <a asp-action="Create" class="btn btn-success">Create New</a>
</p>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().JockQuestion)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.FirstOrDefault().JockAnswer)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.JockQuestion)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.JockAnswer)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ID" class="btn btn-warning">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-info">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ID" class="btn btn-danger">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
